/* 
  基本配置
*/
html,
body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
header,
footer {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  /* 去除点击高亮 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}